   /* 더 많은 CSS */
   HTML {
       background-color: #F6E3C5;
   }

   body {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 87%;
   }

   .container {
       max-width: 900px;
       margin-left: auto;
       margin-right: auto;
       /* 색 표현법 : 1.색이름 red,blue 2.rgb색(255,255,255) 3.16진수 #*/
       /* 흰색 : white, rgb(255,255,255), #fff */
       background-color: rgb(255, 255, 255);
       padding-left: 40px;
       padding-right: 40px;
       /* 기본이 content기 떄문에 박스 크기를 정확하게 주기 위해서 */
       box-sizing: border-box;
   }


   header {
       padding-top: 20px;
       padding-bottom: 20px;
       color: #617140;
   }

   header h1 {
       margin: 0;
       font-weight: normal;
       font-size: 165%;
   }

   header p {
       margin: 0;
   }

   /* 네비게이션 */
   .site-nav {
       margin-top: 20px;
   }

   .site-nav ul {
       margin: 0;
       padding: 0;
       list-style: none;
   }

   .site-nav a {
       /* a가 인라인이므로 블록으로 수정해서 크기적용 */
       display: block;
       color: #617140;
       /* a태그의 밑줄을 삭제 */
       text-decoration: none;
       padding: 10px 20px;
       border: 3px solid #e5e9dc;
       border-bottom: none;
   }

   /* :hover는 태그에 마우스를 올렸을떄 적용됨 */
   .site-nav a:hover {
       background-color: #e5e9dc;
   }

   .site-nav li {
       float: left;
       margin-right: 5px;
   }

   .content-area {
       border-top: 3px solid #e5e9dc;
       border-bottom: 3px solid #e5e9dc;
   }

   .main-area {
       width: 66%;
       float: left;
       padding-right: 40px;
       box-sizing: border-box;
   }

   /* 이미지 */
   img {
       max-width: 100%;
   }

   /* 오버레이 : 사진과 문장 겹침 */
   .image-banner {
       /* 상대 좌표 : 원래 위치에서 top, left 속성으로 이동한다. */
       /* 절대 좌표의 기준이 될수 있다. */
       position: relative;
       left: 100px;
   }

   .image-banner img {
       display: block;
   }

   .banner-description {
       /* 절대좌표 : 상대좌표 기준으로 위치를 잡음 bottom 기준의 아래쪽 */
       position: absolute;
       bottom: 0;
       left: 0;
       color: #fff;
       /* rgba a는 투명도 */
       background-color: rgba(64, 64, 112, 0.5);
       padding: 1px 1px;
   }

   .sidebar {
       /* z-index가 크면 겹칠떄 위로 올라옴(기본 0) */
       position: relative;
       z-index: 0;
       width: 34%;
       float: left;
       background-color: #e5e9dc;
       padding: 20px 40px;
       box-sizing: border-box;
       font-size: 85%;
   }

   footer {
       /* 글자 가운데 정렬 */
       text-align: center;
       font-size: 85%;
       color: #999;
       padding-bottom: 20px;
       padding-top: 20px;
   }

   .fix {
       /* 위의 내용들이 플로트 됬을때 위로 올라감 방지 */
       clear: both;
   }

   /* 플로트 에러방지(플로트를 사용하는 곳에 클래스 group 추가) */
   .group:before,
   .group:after {
       content: "";
       display: table;
   }

   .group:after {
       clear: both;
   }

   .group {
       zoom: 1;
   }